@charset "UTF8";

@media screen and (min-width:769px) and (max-width:992px){
    main{
        background-color: aqua;
    }


}

/*========================= telas grandes    ===============*/


@media screen and (min-width:992px){
    main{
    background-color: rgb(255, 81, 0);
    width: 60vw;
    height: 740px;
    padding: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

section{
   
    top:100px;
    width: 95%;
    height: 730px;
    border-radius: 8px;
    padding: 10px;
    margin:auto;
    background-color: #171717;
}

fieldset.usuario  input[type=text]{
    width: 71%; 
    margin-bottom: 10px;
    font-size: 1em;
    border-radius: 5px;
    border: none;
    letter-spacing: 1px;
    background-color: white;   

}

input[type=email]{
    width: 80%;   
    margin-bottom: 10px;
    font-size: 1em;
    border-radius: 5px;
    border: none;
    letter-spacing: 1px;
    background-color: white;    
}

input[type=password]{
    width: 20%;   
    margin-bottom: 10px;
    font-size: 1em;
    border-radius: 5px;
    border: none;
    letter-spacing: 1px;
    background-color: white;  
    display: block;  
}

input[type=tel]{
    width: 75%;   
    margin-bottom: 10px; 
    font-size: 1em;
    border-radius: 5px;
    border: none;
    letter-spacing: 1px;
    background-color: white;    
    display: block;  
    float:right;
}
}