@charset "UTF8";

body{
    font-family: Arial, Helvetica, sans-serif;
    /*
    background-image: linear-gradient(to right,  rgb(17, 54, 71), rgb(202, 17, 17), rgb(17, 54, 71));
    */

    background-color: rgb(17, 54, 71);
}

.box{
    position: absolute;
    color: white;
    left:50%;
    top:50%;
    padding: 15px;
    border-radius: 15px;
    width: 80%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.8);
    margin-top: 40px;
}

fieldset{
    border: 3px solid rgb(202, 17, 17);
}

legend{
    border: 1px solid rgb(202, 17, 17);
    padding: 10px;
    text-align: center;
    background-color: rgb(202, 17, 17);
    border-radius: 5px;
    
}

.inputBox{
    position: relative;
}

.inputUser{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 1.3em;
    width: 100%;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.labelInput{
    position: absolute;
    top:0px;
    left:0px;
    pointer-events: none;
    transition: 0.5s;
}

.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput{
    top:-20px;
    font-size: 1em;
    color: rgb(202, 17, 17);
}

#ano_nascimento{
    border:none;
    padding:8px;
    border-radius: 10px;
    outline: none;
    margin-bottom: 15px;
    text-align: center;
}

#submit{
    background-color: rgb(202, 17, 17);
    width: 100%;
    padding: 15px;
    border: none;
    color: white;
    font-size: 1.2em;
    border-radius: 8px;
    cursor:pointer
}

#submit:hover{
    background-color: rgb(175, 21, 21);
}