@chaset "UTF8";

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    
    margin-top:10px;

    background-color: darkred;
    
}

main{
    width: 90vw;
    padding: 10px;
    margin-top: 5px;
    height: 604px;
    margin:auto;
    display: block;

    /*
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50% ,-50%);
   
    background-color: aqua;
  */
}

section{
    background-color: rgb(32, 32, 32);
    padding: 10px;
    margin-top: 5px;
    height: 580px;
    border-radius: 8px;
}

fieldset.total{
    color: white;
    margin-bottom: 10px;
    border: 1px solid red;
}

fieldset.total > legend{
    text-align: center;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;    
    background-color: red;     
}

fieldset.total > input{
    background-color: red;   
    display: block;
    margin: auto;
    padding:10px;
    width: 99%;
    border-radius: 8px;
    color:white;
    font-size:1.2em;
    border:none;
    margin-bottom: 10px;
}

fieldset.usuario {

    width: 95%;
    margin: auto;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid white;
    

}

fieldset.usuario > legend{
    margin-left: 20px;
    margin-bottom: 10px;
}

fieldset.usuario > div.nome{
   
    margin-bottom: 5px;
}

fieldset.usuario > div.nome > input{
    width: 100%;
}

fieldset.usuario > div.email{ 
    
    margin-bottom: 10px;
}

fieldset.usuario > div.email> input{
    width: 100%;
}

fieldset.usuario > div.senha{ 
    
    margin-bottom: 10px;
    display: block;
    width: 160px;
    float: left;
}


fieldset.usuario > div.senha> input{
    width: 60%;
}

fieldset.usuario > div.tel{ 
    
    margin-bottom: 10px;
    display: block;
    width: 205px;
    float: right;
    padding-left: 6px;
    margin-top:3px;
}

fieldset.usuario > div.tel> input{
    width: 63%;
}
fieldset.sexo{
    width: 60%;
    margin: auto;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid white;
}

fieldset.sexo > p{
    margin-left: 10px;
}


fieldset.endereco{
    width: 90%;
    margin: auto;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid white;
}

fieldset.endereco > div.rua{
    
    margin-bottom: 10px;
}

fieldset.endereco > div.rua > input{
    width: 100%;
   
   }

fieldset.endereco > div.cidade{
    
     margin-bottom: 10px;
}

fieldset.endereco > div.cidade > input{
 width: 100%;

}

fieldset.endereco > div.numero{
    
    width: 50%;
    margin-bottom: 10px;
    display: block;
    float: left;
}
 
fieldset.endereco > div.numero > input{
    width: 50%;
}

fieldset.endereco > div.estado{
    
    margin-bottom: 10px;
    display: block;
    float: right;
    width: 50%;
} 

fieldset.endereco > div.estado > input{
    width: 61%;
}