@charset "UTF-8";

*{
   
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;

    background-image: linear-gradient(to right, #000000, #6d1207, #000000);
    /*background-color: rgb(2, 27, 97);*/
    

}

main{
    background-color: green;
    width: 90vw;
    height: 740px;
    padding: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

section{
   
    top:100px;
    width: 95%;
    height: 730px;
    border-radius: 8px;
    padding: 10px;
    margin:auto;
    background-color: #171717;

    /*position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);*/
}

fieldset.total{
    text-align: center;
    padding: 20px;
    margin: 10px;
    height: 100%;    
    border: 3px solid red;
}

fieldset.total > legend{
    font-size: 1.2em;
    font-weight: normal;
    color:white;
    padding: 10px;
    border-radius: 8px;    
    background-color: red;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.74);
}

fieldset.total > input{
    background-color: red;
    padding: 10px;
    margin-top:15px;
    margin-left:0px;
    border: none;
    width: 100%; 
    text-transform: uppercase;
    color: white;
    font-weight: bolder;
    font-size: 1.3em;
    border-radius: 8px;
    cursor: pointer;
}

fieldset.total > input:hover{
    background-color: black;
    color: red;
    border: 1px solid rgb(250, 247, 247);
}
fieldset.usuario{
    text-align: left;
    padding: 20px;
}

fieldset.usuario > legend{
    font-weight: normal;
    color: white;
    padding:10px;

}

fieldset.usuario > p {
    color:white;
}

fieldset.usuario  input[type=text]{
    width: 62%; 
    margin-bottom: 10px;
    font-size: 1em;
    border-radius: 5px;
    border: none;
    letter-spacing: 1px;
    background-color: white;   

}

fieldset.usuario  input[type=date]{
    padding: 5px;
    width: 130px;
    text-align: center;
    border: none;
    border-radius: 8px;
    border: none;
    background-color: white; 
}

input[type=password]{
    width: 80%;   
    margin-bottom: 10px;
    font-size: 1em;
    border-radius: 5px;
    border: none;
    letter-spacing: 1px;
    background-color: white;    
}
input[type=email]{
    width: 80%;   
    margin-bottom: 10px;
    font-size: 1em;
    border-radius: 5px;
    border: none;
    letter-spacing: 1px;
    background-color: white;    
}

input[type=tel]{
    width: 75%;   
    margin-bottom: 10px; 
    font-size: 1em;
    border-radius: 5px;
    border: none;
    letter-spacing: 1px;
    background-color: white;    
}

fieldset.sexo {
    text-align: left;
    color: white;
    padding:10px;
    font-size:1.1em;
    padding: 10px;
    width: 80%;
    margin-left: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
}

fieldset.sexo > legend{
    font-weight: normal;
    color: white;
}

fieldset.sexo > P{
    margin-left: 30px;
}

fieldset.endereco{
    text-align: left;
    padding: 10px;
}

fieldset.endereco > label{
    margin: 10px;
   
}

fieldset.endereco > legend{
    font-weight: normal;
    color: white;
    padding:10px;
}

fieldset.endereco > P{
    color: white;
    margin-bottom: 10px;
}

fieldset.endereco  input.rua{

 width: 73%;
 font-size: 1em;
 border-radius: 5px;
 border: none;
 letter-spacing: 1px;
 background-color: white;   
}

fieldset.endereco  input.cidade{
    width: 81%;
    font-size: 1em;
    border-radius: 5px;
    border: none;
    letter-spacing: 1px;
    background-color: white;   
}

fieldset.endereco  input.numero{
    width: 80%;
    font-size: 1em;
    border-radius: 5px;
    border: none;
    letter-spacing: 1px;
    background-color: white;   
}

fieldset.endereco  input.estado{
    color: white;
    width: 82%;
    font-size: 1em;
    border-radius: 5px;
    border: none;
    letter-spacing: 1px;
    background-color: white;   
}
/*

section{
   
    width: 600px;
    height: 600px;
    background-color: rgb(247, 244, 244);
    border-radius: 8px;
    padding: 10px;
    
}

*/